
<html>
<% var title; %>
<% var Temperature; %>
<% var Unit; %>
<% var Cloudy; %>
<% var PrecipitationChance; %>

    <title>
        Weather API
    </title>
    
    <body>
        p><%= title %></p>
        Temperature is:
        <p><%= Temperature %></p>
        Unit:
        <p><%= Unit %></p>
        Cloudy:
        <p><%= Cloudy %></p>
        PrecipitationChance:
        <p><%= PrecipitationChance %></p>
    </body>
   
</html>


<script type= "text/javaScript">
//fetch("./weather.json")




</script>