
<html>
 <!--  The following commented out code stops the error from appearing by declaring them variables, this does not really fix the probelm, 
        how ever you can actually see whats supposed to be displayed.
        
<% var title; %>
<% var Temperature; %>
<% var Unit; %>
<% var Cloudy; %>
<% var PrecipitationChance; %>
-->
    <title>
        Weather API
    </title>
    
    <body>
        p><%= title %></p>
        Temperature is:
        <p><%= Temperature %></p>
        Unit:
        <p><%= Unit %></p>
        Cloudy:
        <p><%= Cloudy %></p>
        PrecipitationChance:
        <p><%= PrecipitationChance %></p>
    </body>
   
</html>


<script type= "text/javaScript">
//fetch("./weather.json")

</script>